.pav{
    position: absolute;
        top:0%;
        left: 0%;
     text-transform: capitalize;
     background: grey;
     padding: 0em 2em 0em 2em;
     

  }
  .kont{
    position: relative;
    text-align: center;
    color: rgb(12, 5, 32);

  }

  a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;

}